.navbar-brand-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
nav.navbar{
  padding: 0px 0;
  background-color: #920000;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 800;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}